<div class="blog-section">
  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-1.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Ý Tưởng Cho Người Lần Đầu Làm Chủ Nhà</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">19/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-2.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Bí Quyết Giữ Nội Thất Luôn Sạch Đẹp</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">15/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-3.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Giải Pháp Nội Thất Thông Minh Cho Căn Hộ Nhỏ</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">12/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-1.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Những Điều Cần Biết Khi Mua Nhà Lần Đầu</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">19/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-2.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Cách Bảo Quản Đồ Nội Thất Bền Đẹp</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">15/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-3.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Trang Trí Nội Thất Cho Không Gian Hẹp</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">12/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-1.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Kinh Nghiệm Chọn Mua Nhà Cho Người Mới</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">19/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-2.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Nghệ Thuật Giữ Gìn Không Gian Sống</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">15/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="post-entry">
          <a href="#" class="post-thumbnail"><img src="assets/images/post-3.jpg" alt="Hình ảnh" class="img-fluid"></a>
          <div class="post-content-entry">
            <h3><a href="#">Sáng Tạo Trong Thiết Kế Nội Thất Nhỏ Gọn</a></h3>
            <div class="meta">
              <span>bởi <a href="#">Vũ Đức Thắng</a></span> <span> vào <a href="#">12/12/2021</a></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
